.img-container {
    position: relative;
    cursor: pointer; /* Add cursor pointer to indicate clickability */
  }
  
  .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter 0.5s, transform 0.5s;
  }
  
  /* Hover effect for laptop versions */
  @media (hover: hover) {
    .img-container:hover img {
      filter: grayscale(0%);
      transform: scale(1.1); /* Enlarge the image slightly */
    }
  
    .img-container:hover .overlay {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Click effect for mobile and tablet versions */
  @media (hover: none) {
    .img-container.zoomed img {
      filter: grayscale(0%);
      transform: scale(1.1); /* Enlarge the image slightly */
    }
  
    .img-container.zoomed .overlay {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .overlay {
    color: white;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s, transform 0.3s;
  }
  
  @media (hover: none) {
    .img-container:hover img {
      filter: grayscale(100%);
      transform: scale(1); /* Remove hover effect on non-hover devices */
    }
  
    .img-container:hover .overlay {
      opacity: 0;
      transform: translateY(-10px);
    }
  }
  