 .foot{
    height: 180px;
    background-color: rgb(3, 74, 78);  /* Correct path to the image */
    background-size: cover; /* Ensures the image covers the whole div */
    background-position: center; /* Centers the image in the div */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    
 }
  