
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900');

 

 

/* Apply the imported font */
body {
    font-family: Montserrat;
}

h1 {
  font-family: Montserrat;
    
}

p {
    font-weight: 300; /* Use the light (300) variant */
    /* Use the italic variant if desired */
}




div.mb {
  height: calc(100vh);
  background-color: rgb(255, 255, 255); /* Use background color for white */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img.sd {
  height: 150px;
  margin-right: 15px;
  margin-top: 20%;
  margin-left: 9px;
}
/*  */
 

div.fd {
   background-color: rgb(7, 80, 91);
  color: rgb(198, 172, 9);
  height: 400px;
  width: 100%;
  margin-bottom: 10px;
  
  
}
.fd h2{
  font-weight: 900; 
  font-size: 33px; 
  margin-left: 33%;

}

.fd p {
  color: rgb(102, 95, 95);
  font-size: 20px;
  display: flex;
  margin-left: 12%;
  margin-right: 12%;
 
}
.fd button{
margin-left: 44%;
}
 
  .jd {
    margin-top: 30px;
    margin-left: 30%;
    color: rgb(230, 230, 230);
    background-color: #11a6e6;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600; /* Adjust weight based on the design */
    cursor: pointer;
    
    transition: background-color 0.3s ease, transform 0.5s ease;
  }
  
  .jd:hover {
    background-color: #1480b3;
    transform: scale(1.05); /* Zoom effect */
  }
  
  
  
