body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  
  overflow-x: hidden;
  margin: 0;
}

section {
  width: 100vw; /* Adjust the width as needed */
  overflow: hidden;
  position: relative;
  --v-offset: 300px;
  --curve-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
section:before,
section:after {
  content: "";
  display: block;
  background: white;
  width: calc(100vw + 2 * var(--v-offset));
  height: var(--curve-height);
  position: absolute;
  border-radius: 50%;
  left: calc(-1 * var(--v-offset));
  right: calc(-1 * var(--v-offset));
}
section:before {
  top: calc(-0.6 * var(--curve-height));
}
section:after {
  bottom: calc(-0.6 * var(--curve-height));
}
.wrapper {
  display: grid;
  grid-template-rows: 500px;
  
  grid-auto-flow: column;
  grid-gap: 24px;
  scroll-snap-type: x mandatory;
  justify-content: center; /* Center the carousel */
}

.wrapper img {
  scroll-snap-align: center;
  width: 1200px; /* Increased width */
  height: 500px; 
  object-fit: cover;

}
.wrapper img:nth-child(2),
.wrapper img:nth-child(3) {
  width: 1000px; /* Smaller width for middle images */
  height: 400px; /* Smaller height for middle images */
}
img[class^="images0"] {
  animation: bannermove 20s linear 2s infinite;
}
img[class^="images1"] {
  animation: bannermove 20s linear 2s infinite;
}

img[class^="images2"] {
  animation: bannermove 20s linear 2s infinite;
}

img[class^="images3"] {
  animation: bannermove 20s linear 2s infinite;
}

.wrapper:hover img[class^="images"] {
  animation-play-state: paused;
  cursor: pointer;
}
img[class^="images0"]:hover,
img[class^="images1"]:hover,
img[class^="images2"]:hover,
img[class^="images3"]:hover {
  transform: scale(1.1); /* Reduced scale factor for smoother effect */
  height: 100% !important;
  z-index: 1; /* Ensures the hovered image appears above others */
}
@keyframes bannermove {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: -250%; /* Adjusted for larger images */
  }
}